require "test_helper"

class <%= service_name %>Test < Minitest::Test
<%- if attributes.any? -%>
  def setup
    @subject = <%= service_name %>.new(<%= attributes.map {|a| "#{a}: 1" }.join(", ") %>)
  end
<% else %>
  def setup
    @subject = <%= service_name %>.new
  end
<% end -%>

  def test_call
    assert @subject.call.success?
  end
end
