# frozen_string_literal: true

class <%= service_name %> < <%= base_service_class %>
<%- attributes.each do |attr| -%>
  attribute :<%= attr %>, Types::Any
<%- end -%>
<%- step_count.times do |step_number| %>
  pipe :step_<%= step_number + 1 %> do
    true
  end
<%- end -%>
end
